@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=Metamorphous&display=swap");
body {
  background-color: #fff;
  font-family: 'IM Fell Great Primer', Georgia, serif;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}
